<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class=errors></div>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name, id: :booking_customer_name %>
  </div>
  <div class="field">
    <%= form.label :customer_email %>
    <%= form.text_field :customer_email, id: :booking_customer_email %>
  </div>
  <div class="field">
    <%= form.label :customer_phone %>
    <%= form.text_field :customer_phone, id: :booking_customer_phone %>
  </div>


  <div class="field">
  <div class='errors_fromdate'></div>
    <%= form.label :from_date %>
    <%= form.text_field :from_date, id: :booking_from_date, class: 'datepicker', required: true %>
  </div>

  <div class="field">
  <div class='errors_todate'></div>
    <%= form.label :to_date %>
    <%= form.text_field :to_date, id: :booking_to_date, class: 'datepicker', required: true %>
  </div>

  <!--   <div class="field">
    <%#= form.label :hotel_id %>
    <%#= form.collection_select(:hotel_id, Hotel.all, :id, :name, :prompt => 'Select') %>
  </div> -->
  <%= form.hidden_field :hotel_id, value: 1 %>

  <div class="field">
  <div class='errors_category'></div>
    <%= form.label :category_id %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Select', required: true ) %>
  </div>


  <!--  <div class="field">
    <%#= form.label :room_id %>
    <%#= form.collection_select(:room_id, Room.all, :id, :room_no, :prompt => 'Select') %>
  </div> -->



  <!-- <div class="field">
    <%#= form.label :customer_id %>
    <%#= form.number_field :customer_id, id: :booking_customer_id %>
  </div> -->


  <div class="actions">
    <button type='button' id='check_status'>check availability </button>
  </div>
  <div class='available'>
  </div>

  <div class="actions">
    <%= form.submit class: 'submit_booking'%>
  </div>
<% end %>
